<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nightowltracker">

    <!--ACADEMIC SESSION-->
    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utilities.ApplicationContextProvider"

        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".activities.AcademicSessionEditorActivity"
            android:label="@string/title_activity_academic_session_editor"
            android:parentActivityName=".activities.AcademicSessionMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nightowltracker.activities.AcademicSessionMainActivity" />
        </activity>

        <activity android:name=".activities.AcademicSessionMainActivity"></activity>

        <!--CLASS-->
        <activity
            android:name=".activities.ClassEditorActivity"
            android:label="@string/title_activity_class_editor"
            android:parentActivityName=".activities.ClassMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nightowltracker.activities.ClassMainActivity" />
        </activity>
        <activity android:name=".activities.ClassMainActivity"></activity>


        <!--LINE ITEM-->
        <activity
            android:name=".activities.LineItemEditorActivity"
            android:label="Line Item Editor"
            android:parentActivityName=".activities.LineItemMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nightowltracker.activities.LineItemMainActivity" />
        </activity>
        <activity android:name=".activities.LineItemMainActivity"></activity>


        <!--USER-->
        <activity
            android:name=".activities.UserEditorActivity"
            android:label="Line Item Editor"
            android:parentActivityName=".activities.UserMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nightowltracker.activities.UserMainActivity" />
        </activity>
        <activity android:name=".activities.UserMainActivity"></activity>

        <!--MAIN ACTIVITY-->
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>